.take {
    background-image: url(../../../images/key.jpg);
    background-repeat: no-repeat;

    background-size: cover;

}

.take form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.take form input,
textarea {
    width: 40%;
    margin-bottom: 10px;
}